@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Knewave&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@layer base {
    html {
        background-color: cyan;
        color:magenta;
        font-family: "Knewave", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    main {
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
    button {
        width:300px;
        height:60px;
        background-color: cyan;
        border: none;
        color: magenta;
        padding: 15px 32px;
        margin:1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 1rem;
    }
    button:hover {
        background-color: magenta;
        color: cyan;
        border-radius: 1rem;
    }
    .subcard {
        background-color: saddlebrown;
        color: cyan;
        border-radius: 1.5rem;
        padding: 10%;
        margin:10%;
   ul,
   ol {
       background-color: oklch(27.9% 0.077 45.635);
       li {
           list-style-position: inside;
           list-style-type: circle;

       }
   }
    }

    /* Base heading styles */
    h1 {
        font-size: 2.25rem; /* ~36px */
        font-weight: 10;
        line-height: 1.2;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.875rem; /* ~30px */
        font-weight: 10;
        line-height: 1.25;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 1.5rem; /* ~24px */
        font-weight: 10;
        line-height: 1.3;
        margin-bottom: 0.4em;
    }

    h4 {
        font-size: 1.25rem; /* ~20px */
        font-weight: 500;
        line-height: 1.35;
        margin-bottom: 0.4em;
    }

    h5 {
        font-size: 1.125rem; /* ~18px */
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 0.3em;
    }

    h6 {
        font-size: 1rem; /* ~16px */
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 0.3em;
    }
}