@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Knewave&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@layer base {
    html {
        background-color: cyan;
    }
}